@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

body p {
  margin: 0;
}

.header_top .top_left::after, .header_top .top_left::before, .top_right::after, .top_right::before {
  position: absolute;
  content: "";
  background-color: #dddddd;
  height: 50px;
  width: 1px;
}

.view_more, .purchase {
  padding: 10px 15px;
  border: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

.featured_products .pruducts_head h3::after, .latest_product .latest_product_head h3::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #de4644;
  width: 170px;
}

.featured_products .pruducts_head h3::before, .latest_product .latest_product_head h3::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #de4644;
  width: 85px;
}

.header_top {
  background-color: #444444;
}

.header_top .top_left {
  position: relative;
}

.header_top .top_left::after {
  top: 0;
  left: 50px;
}

.header_top .top_left::before {
  top: 0;
  left: 105px;
}

.header_top .top_left .lan, .header_top .top_left .money {
  color: #dddddd;
  background: transparent;
  padding: 15.5px 0;
  font-size: 13px;
  font-weight: 400;
  border: none;
}

.header_top .top_left .number {
  color: #dddddd;
  padding-left: 10px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}

.header_top .top_left .number p {
  margin-bottom: 0;
}

.top_right {
  text-align: right;
  position: relative;
}

.top_right::after {
  top: 0;
  left: 122px;
}

.top_right::before {
  top: 0;
  left: 247px;
}

.top_right .wish, .top_right .account, .top_right .login {
  display: inline-block;
  padding: 15.5px 0;
  color: #dddddd;
  padding-left: 25px;
  font-size: 13px;
}

.top_right .wish p, .top_right .account p, .top_right .login p {
  margin-bottom: 0;
}

nav ul li a {
  color: #222222 !important;
  font-weight: 500;
  position: relative;
}

nav ul li a:hover {
  color: #de4644 !important;
}

nav ul li a:hover::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 10px;
  width: 24px;
  background-color: #de4644;
  height: 1px;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

nav ul li a:hover::before {
  position: absolute;
  content: "";
  top: 39px;
  left: 10px;
  width: 14px;
  background-color: #de4644;
  height: 1px;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.navbar-collapse {
  width: 80%;
}

.search {
  position: relative;
}

.search input[type="text"] {
  opacity: 0;
  cursor: pointer;
  background: transparent;
}

.search input[type="text"]:focus {
  opacity: 1;
  cursor: text;
}

.search .fa-search {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.banner {
  padding: 150px 0;
  background-image: url(../img/hero_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
}

.banner_text {
  z-index: 99;
  position: relative;
}

.banner_text h3 {
  color: #de4644;
  font-size: 70px;
  font-weight: 700;
}

.banner_text h4 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0;
}

.banner_text p {
  color: #f1f1f1;
  font-size: 14px;
  margin-bottom: 25px;
  padding-right: 600px;
}

.view_more {
  background-color: transparent;
  margin-right: 30px;
}

.purchase {
  background-color: transparent;
}

.view_more:hover, .purchase:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.banner_arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.banner_arrow .fa-chevron-left, .banner_arrow .fa-chevron-right {
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.banner_arrow .fa-chevron-left:hover, .banner_arrow .fa-chevron-right:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.service {
  padding: 30px 0;
  background-color: #f1f1f1;
}

.service .service_child {
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child h3 {
  display: inline-block;
  font-size: 24px;
  margin-left: 10px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child .fa-truck, .service .service_child .fa-life-ring, .service .service_child .fa-money-bill-alt {
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child p {
  font-size: 14px;
}

.service .service_child:hover h3, .service .service_child:hover .fa-truck, .service .service_child:hover .fa-life-ring, .service .service_child:hover .fa-money-bill-alt {
  color: #de4644;
}

.service_img {
  padding: 100px 0;
}

.service_img .serice_img_child {
  position: relative;
  cursor: pointer;
}

.service_img .serice_img_child:hover .service_text button {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.service_img .serice_img_child .new {
  position: absolute;
  background-color: #ffffff;
  top: 10%;
  left: -11%;
  width: 48%;
  height: 6%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service_img .serice_img_child .service_text {
  position: absolute;
  background-color: #00121980;
  bottom: 5%;
  left: 5%;
  width: 95%;
  height: 150px;
  text-align: center;
}

.service_img .serice_img_child .service_text h4 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
}

.service_img .serice_img_child .service_text h5 {
  color: #ffffff;
  font-size: 24px;
}

.service_img .serice_img_child .service_text button {
  padding: 13px 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featured_products {
  padding-bottom: 95px;
}

.featured_products .pruducts_head {
  position: relative;
}

.featured_products .pruducts_head h3 {
  font-size: 40px;
}

.featured_products .pruducts_head h3::after {
  bottom: -15px;
  left: 100px;
}

.featured_products .pruducts_head h3::before {
  bottom: -20px;
  left: 100px;
}

.featured_products .small_menu {
  margin-top: 55px;
}

.featured_products .small_menu ul li {
  display: inline-block;
  position: relative;
}

.featured_products .small_menu ul li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  top: 3px;
  left: -3px;
  background-color: #444444;
}

.featured_products .small_menu ul li:first-child::after {
  display: none;
}

.featured_products .small_menu ul li a {
  display: block;
  color: #444444;
  padding: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featured_products .small_menu ul li a:hover {
  color: #de4644;
}

.product_image {
  position: relative;
  cursor: pointer;
}

.product_image:hover .product_icon {
  opacity: 1;
  right: -8px;
}

.product_image .product_icon {
  position: absolute;
  top: 0;
  right: -60px;
  width: 100px;
  height: 100%;
  background-color: #48484881;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_image .product_icon .p_icon {
  margin-bottom: 25px;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_image .product_icon .p_icon:hover {
  background-color: #de4644;
  border-color: #de4644;
}

.product_text .dollar {
  float: right;
}

.product_text p {
  margin-bottom: 10px;
}

.pruduct_star .icon_star {
  color: #de4644;
}

.new_product {
  background-color: #f1f1f1;
  padding: 45px 0;
}

.new_product .new_product_image img {
  width: 100%;
}

.new_product .new_product_text h5 {
  font-size: 20px;
}

.new_product .new_product_text h3 {
  font-size: 40px;
  color: #de4644;
  font-weight: 400;
}

.new_product .new_product_text h4 {
  margin: 10px 0;
}

.new_product .timer {
  width: auto;
  height: auto;
}

.new_product .timer .timer_child {
  display: inline-block;
  border: 1px solid #5a5a5a;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 30px;
}

.latest_product {
  padding: 95px 0;
}

.latest_product .latest_product_head {
  position: relative;
  margin-bottom: 70px;
}

.latest_product .latest_product_head h3 {
  font-size: 40px;
}

.latest_product .latest_product_head h3::after {
  bottom: -15px;
  left: 130px;
}

.latest_product .latest_product_head h3::before {
  bottom: -20px;
  left: 130px;
}

.latest_product_image {
  position: relative;
  cursor: pointer;
}

.latest_product_image:hover .latest_product_icon {
  opacity: 1;
  right: -8px;
}

.latest_product_image .latest_product_icon {
  position: absolute;
  top: 0;
  right: -60px;
  width: 100px;
  height: 100%;
  background-color: #48484881;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_product_image .latest_product_icon .latest_p_icon {
  margin-bottom: 25px;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_product_image .latest_product_icon .latest_p_icon:hover {
  background-color: #de4644;
  border-color: #de4644;
}

.latest_product_text .latest_dollar {
  float: right;
}

.latest_product_text p {
  margin-bottom: 10px;
}

.latest_pruduct_star .icon_star {
  color: #de4644;
}

.banner_arrow_2 {
  margin-top: 15PX;
}

.banner_arrow_2 .fa-chevron-left, .banner_arrow_2 .fa-chevron-right {
  border: 1px solid black;
  color: black;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.banner_arrow_2 .fa-chevron-left:hover, .banner_arrow_2 .fa-chevron-right:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */