@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

body p {
  margin: 0;
}

.header_top .top_left::after, .header_top .top_left::before, .top_right::after, .top_right::before {
  position: absolute;
  content: "";
  background-color: #dddddd;
  height: 50px;
  width: 1px;
}

.view_more, .purchase {
  padding: 10px 15px;
  border: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

.featured_products .pruducts_head h3::after, .latest_product .latest_product_head h3::after, .testimonial .testimonial_head h3::after, .blog .blog__header h2:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #de4644;
  width: 170px;
}

.featured_products .pruducts_head h3::before, .latest_product .latest_product_head h3::before, .testimonial .testimonial_head h3::before, .blog .blog__header h2:before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #de4644;
  width: 85px;
}

.header_top {
  background-color: #444444;
}

.header_top .top_left {
  position: relative;
}

.header_top .top_left::after {
  top: 0;
  left: 50px;
}

.header_top .top_left::before {
  top: 0;
  left: 105px;
}

.header_top .top_left .lan, .header_top .top_left .money {
  color: #dddddd;
  background: transparent;
  padding: 15.5px 0;
  font-size: 13px;
  font-weight: 400;
  border: none;
}

.header_top .top_left .number {
  color: #dddddd;
  padding-left: 10px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}

.header_top .top_left .number p {
  margin-bottom: 0;
}

.top_right {
  text-align: right;
  position: relative;
}

.top_right::after {
  top: 0;
  left: 122px;
}

.top_right::before {
  top: 0;
  left: 247px;
}

.top_right .wish, .top_right .account, .top_right .login {
  display: inline-block;
  padding: 15.5px 0;
  color: #dddddd;
  padding-left: 25px;
  font-size: 13px;
}

.top_right .wish p, .top_right .account p, .top_right .login p {
  margin-bottom: 0;
}

nav ul li a {
  color: #222222 !important;
  font-weight: 500;
  position: relative;
}

nav ul li a:hover {
  color: #de4644 !important;
}

nav ul li a:hover::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 10px;
  width: 24px;
  background-color: #de4644;
  height: 1px;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

nav ul li a:hover::before {
  position: absolute;
  content: "";
  top: 39px;
  left: 10px;
  width: 14px;
  background-color: #de4644;
  height: 1px;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.navbar-collapse {
  width: 80%;
}

.search {
  position: relative;
}

.search input[type="text"] {
  opacity: 0;
  cursor: pointer;
  background: transparent;
}

.search input[type="text"]:focus {
  opacity: 1;
  cursor: text;
}

.search .fa-search {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.banner {
  padding: 150px 0;
  background-image: url(../img/hero_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
}

.banner_text {
  z-index: 99;
  position: relative;
}

.banner_text h3 {
  color: #de4644;
  font-size: 70px;
  font-weight: 700;
}

.banner_text h4 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0;
}

.banner_text p {
  color: #f1f1f1;
  font-size: 14px;
  margin-bottom: 25px;
  padding-right: 600px;
}

.view_more {
  background-color: transparent;
  margin-right: 30px;
}

.purchase {
  background-color: transparent;
}

.view_more:hover, .purchase:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.banner_arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.banner_arrow .fa-chevron-left, .banner_arrow .fa-chevron-right {
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.banner_arrow .fa-chevron-left:hover, .banner_arrow .fa-chevron-right:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.service {
  padding: 30px 0;
  background-color: #f1f1f1;
}

.service .service_child {
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child h3 {
  display: inline-block;
  font-size: 24px;
  margin-left: 10px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child .fa-truck, .service .service_child .fa-life-ring, .service .service_child .fa-money-bill-alt {
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service .service_child p {
  font-size: 14px;
}

.service .service_child:hover h3, .service .service_child:hover .fa-truck, .service .service_child:hover .fa-life-ring, .service .service_child:hover .fa-money-bill-alt {
  color: #de4644;
}

.service_img {
  padding: 100px 0;
}

.service_img .serice_img_child {
  position: relative;
  cursor: pointer;
}

.service_img .serice_img_child:hover .service_text button {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.service_img .serice_img_child .new {
  position: absolute;
  background-color: #ffffff;
  top: 10%;
  left: -11%;
  width: 48%;
  height: 6%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service_img .serice_img_child .service_text {
  position: absolute;
  background-color: #00121980;
  bottom: 5%;
  left: 5%;
  width: 95%;
  height: 150px;
  text-align: center;
}

.service_img .serice_img_child .service_text h4 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
}

.service_img .serice_img_child .service_text h5 {
  color: #ffffff;
  font-size: 24px;
}

.service_img .serice_img_child .service_text button {
  padding: 13px 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featured_products {
  padding-bottom: 95px;
}

.featured_products .pruducts_head {
  position: relative;
}

.featured_products .pruducts_head h3 {
  font-size: 40px;
}

.featured_products .pruducts_head h3::after {
  bottom: -15px;
  left: 100px;
}

.featured_products .pruducts_head h3::before {
  bottom: -20px;
  left: 100px;
}

.featured_products .small_menu {
  margin-top: 55px;
}

.featured_products .small_menu ul li {
  display: inline-block;
  position: relative;
}

.featured_products .small_menu ul li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  top: 3px;
  left: -3px;
  background-color: #444444;
}

.featured_products .small_menu ul li:first-child::after {
  display: none;
}

.featured_products .small_menu ul li a {
  display: block;
  color: #444444;
  padding: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featured_products .small_menu ul li a:hover {
  color: #de4644;
}

.product_image {
  position: relative;
  cursor: pointer;
}

.product_image:hover .product_icon {
  opacity: 1;
  right: -8px;
}

.product_image .product_icon {
  position: absolute;
  top: 0;
  right: -60px;
  width: 100px;
  height: 100%;
  background-color: #48484881;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_image .product_icon .p_icon {
  margin-bottom: 25px;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_image .product_icon .p_icon:hover {
  background-color: #de4644;
  border-color: #de4644;
}

.product_text .dollar {
  float: right;
}

.product_text p {
  margin-bottom: 10px;
}

.pruduct_star .icon_star {
  color: #de4644;
}

.new_product {
  background-color: #f1f1f1;
  padding: 45px 0;
}

.new_product .new_product_image img {
  width: 100%;
}

.new_product .new_product_text h5 {
  font-size: 20px;
}

.new_product .new_product_text h3 {
  font-size: 40px;
  color: #de4644;
  font-weight: 400;
}

.new_product .new_product_text h4 {
  margin: 10px 0;
}

.new_product .timer {
  width: auto;
  height: auto;
}

.new_product .timer .timer_child {
  display: inline-block;
  border: 1px solid #5a5a5a;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 30px;
}

.latest_product {
  padding: 95px 0;
}

.latest_product .latest_product_head {
  position: relative;
  margin-bottom: 70px;
}

.latest_product .latest_product_head h3 {
  font-size: 40px;
}

.latest_product .latest_product_head h3::after {
  bottom: -15px;
  left: 130px;
}

.latest_product .latest_product_head h3::before {
  bottom: -20px;
  left: 130px;
}

.latest_product_image {
  position: relative;
  cursor: pointer;
}

.latest_product_image:hover .latest_product_icon {
  opacity: 1;
  right: -8px;
}

.latest_product_image .latest_product_icon {
  position: absolute;
  top: 0;
  right: -60px;
  width: 100px;
  height: 100%;
  background-color: #48484881;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_product_image .latest_product_icon .latest_p_icon {
  margin-bottom: 25px;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_product_image .latest_product_icon .latest_p_icon:hover {
  background-color: #de4644;
  border-color: #de4644;
}

.latest_product_text .latest_dollar {
  float: right;
}

.latest_product_text p {
  margin-bottom: 10px;
}

.latest_pruduct_star .icon_star {
  color: #de4644;
}

.banner_arrow_2 {
  margin-top: 15PX;
}

.banner_arrow_2 .fa-chevron-left, .banner_arrow_2 .fa-chevron-right {
  border: 1px solid black;
  color: black;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.banner_arrow_2 .fa-chevron-left:hover, .banner_arrow_2 .fa-chevron-right:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
  color: #ffffff;
}

.testimonial .testimonial_head h3 {
  font-size: 40px;
  margin-bottom: 80px;
  position: relative;
}

.testimonial .testimonial_head h3::after {
  bottom: -15px;
  left: 165px;
}

.testimonial .testimonial_head h3::before {
  bottom: -20px;
  left: 165px;
}

.testm_bg_image {
  background-image: url(../img/tstm_bg_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}

.testm_bg_image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
}

.testm_bg_image .tstm_img {
  position: relative;
  z-index: 99;
}

.testm_bg_image .tstm_img img {
  width: 100%;
}

.testm_bg_image .tstm_text {
  position: relative;
  z-index: 99;
  color: #ffffff;
}

.testm_bg_image .tstm_text h3 {
  font-size: 20px;
}

.testm_bg_image .tstm_text h4 {
  font-size: 16px;
}

.testm_bg_image .tstm_text p {
  font-size: 14px;
}

.testm_bg_image .tstm_text span {
  text-align: right;
  display: block;
  font-size: 24px;
  font-family: palace script MT;
}

.banner_arrow_3 {
  margin-top: 15px;
  z-index: 99;
  position: relative;
}

.banner_arrow_3 .fa-chevron-left, .banner_arrow_3 .fa-chevron-right {
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.banner_arrow_3 .fa-chevron-left:hover, .banner_arrow_3 .fa-chevron-right:hover {
  background-color: #de4644;
  border: 1px solid #de4644;
}

.blog {
  padding: 100px 0;
}

.blog .blog__header h2 {
  font-size: 40px;
  position: relative;
  text-align: center;
}

.blog .blog__header h2:after {
  bottom: -15px;
  left: 100px;
}

.blog .blog__header h2:before {
  bottom: -20px;
  left: 100px;
}

.blog .blog__section {
  margin-top: 90px;
}

.blog .blog__section .blog__img {
  position: relative;
}

.blog .blog__section .blog__img:hover .blog__icon--hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog__section .blog__img img {
  width: 100%;
}

.blog .blog__section .blog__img .blog__icon--hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-size: 12px;
  color: #ffffff;
  background-color: #3e3e3f81;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__top {
  width: 360px;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__top p {
  margin-left: 20px;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__middle {
  width: 360px;
  text-align: center;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__middle .fa-link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 40px;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__bottom {
  width: 360px;
}

.blog .blog__section .blog__img .blog__icon--hover .icon__bottom ul li {
  display: inline-block;
  margin-right: 10px;
}

.blog .blog__section .blog__head {
  font-size: 20px;
  margin: 30px 0;
}

.blog .blog__section .blog__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.blog .blog__section .blog__link {
  color: #4c4c4c;
  font-weight: 400;
  font-size: 16px;
}

.contact {
  background-color: #353535;
  padding: 55px 0;
}

.contact .contact__head {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 45px;
}

.contact__logo {
  color: #ffffff;
}

.contact__logo img {
  margin-bottom: 20px;
}

.contact__logo .contact__text {
  padding-bottom: 30px;
}

.contact__address ul {
  padding-left: 0;
}

.contact__address ul li {
  margin: 25px 0;
}

.contact__address ul li p {
  color: #ffffff;
  font-size: 14px;
}

.contact__address ul li p .icon__common {
  margin-right: 20px;
}

.contact__account ul {
  padding-left: 0;
}

.contact__account ul li {
  margin: 25px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__account ul li a {
  display: block;
  color: #ffffff;
}

.contact__account ul li:hover {
  margin-left: 10px;
}

.contact__account ul li:hover a {
  color: #de4644;
}

.contact__signup form {
  position: relative;
}

.contact__signup input[type="text"] {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  width: 270px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.contact__signup .contact__button {
  position: absolute;
  padding: 10px 15px;
  height: 40px;
  border: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  background-color: #de4644;
}

.contact__signup h4 {
  color: #ffffff;
  margin: 25px 0;
  text-transform: uppercase;
}

.contact__signup ul {
  padding-left: 0;
}

.contact__signup ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  height: 32px;
  width: 32px;
  padding: 7px;
  background-color: white;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__signup ul li:hover {
  background-color: #de4644;
}

.contact__signup ul li a {
  display: block;
}

.contact__signup ul li a .signup__icon {
  color: black;
}

.copyright {
  background-color: #555555;
  padding: 20px 0;
}

.copyright__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.copyright__left p {
  font-size: 14px;
  color: #ffffff;
}

.copyright__left span {
  color: #de4644;
  font-size: 14px;
}

.copyright_right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.copyright_right ul {
  margin-bottom: 0;
}

.copyright_right ul li {
  display: inline-block;
  margin-left: 8px;
}

@media (max-width: 575px) {
  .header_top {
    position: relative;
  }
  .header_top::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header_top .top_left {
    text-align: center;
  }
  .header_top .top_left::after {
    left: 147px;
    height: 49px;
  }
  .header_top .top_left::before {
    left: 205px;
    height: 49px;
  }
  .header_top .top_right {
    text-align: center;
  }
  .header_top .top_right::after {
    left: 163px;
    height: 49px;
  }
  .header_top .top_right::before {
    left: 281px;
    height: 49px;
  }
}
/*# sourceMappingURL=style.css.map */