.blog {
    padding: 100px 0;
    .blog__header {
        h2 {
            font-size: 40px;
            position: relative;
            text-align: center;
            &:after {
                @extend %single_line;
                bottom: -15px;
                left: 100px;
            }
            &:before {
                @extend %small_sinle_line;
                bottom: -20px;
                left: 100px;
            }
        }
    }
    .blog__section {
        margin-top: 90px;
        .blog__img {
            position: relative;
            &:hover {
                .blog__icon--hover {
                    opacity: 1;
                    transition: 0.3s;
                }
            }
            img {
                width: 100%;
            }
            .blog__icon--hover {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                font-size: 12px;
                color: #ffffff;
                background-color: #3e3e3f81;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                .icon__top {
                    width: 360px;
                    p {
                        margin-left: 20px;
                    }
                }
                .icon__middle {
                    width: 360px;
                    text-align: center;
                    .fa-link {
                        border: 1px solid #ffffff;
                        border-radius: 50%;
                        padding: 10px;
                        font-size: 40px;
                    }
                }
                .icon__bottom {
                    width: 360px;
                    ul {
                        
                        li {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }   
        }
        .blog__head {
            font-size: 20px;
            margin: 30px 0;
        }
        .blog__text {
            font-size: 14px;
            margin-bottom: 30px;
        }
        .blog__link {
            color: #4c4c4c;
            font-weight: 400;
            font-size: 16px;
        }
    }
}