.service {
    padding: 30px 0;
    background-color: #f1f1f1;
    .service_child {
        cursor: pointer;
        text-align: center;
        transition: 0.3s;
        h3 {
            display: inline-block;
            font-size: 24px;
            margin-left: 10px;
            text-transform: capitalize;
            transition: 0.3s;
        }
        .fa-truck, .fa-life-ring, .fa-money-bill-alt {
            font-size: 24px;
            transition: 0.3s;
        }
        p {
            font-size: 14px;
        }
        &:hover {
            h3, .fa-truck, .fa-life-ring, .fa-money-bill-alt {
                color: #de4644;
            }
        }
    }
}